<aside aria-label='Right Sidebar Section' id='right-sidebar' itemscope itemtype='https://www.schema.org/WPSideBar' class="right-sidebar">
  <meta content='#right-sidebar' itemprop='cssSelector'>
  <div class='static-box'>
    <div class="text-center">
      <div class="sharethis-inline-follow-buttons sharethis"></div>
      <a target='_blank' href='https://paypal.me/ASIBUKAGroup' rel='nofollow noopener noreferrer' title='Dukung melalui Paypal' class="btn block icon paypal">PayPal</a>
      <a target='_blank' href='https://www.patreon.com/c/ASIBUKAGroup' rel='nofollow noopener noreferrer' title='Dukung melalui Patreon' class="btn block icon patreon">Patreon</a>
      <a target='_blank' href='https://saweria.co/asibukagroup' rel='nofollow noopener noreferrer' title='Dukung melalui Saweria' class="btn block icon download">Saweria</a>
    </div>
    {% if page.url contains "/ad-networks" %}
    {% include ads/adsterra-banner.js %}
    {% include ads/advertica-banner.js %}
    {% include ads/hilltopads-banner.js %}
    {% include ads/mondiad-banner.js %}
    {% endif %}
  </div>
  <div class="sticky-box">
    {% include layout/sidebar_ads.html %}
  </div>
</aside>