<!DOCTYPE html>
<html {% if page.is_amp %}amp {% endif %}lang="{{ page.lang | default: site.lang }}">
<head>
{% include layout/meta.html %}
{% if page.is_amp %}
<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style>
<noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
{% endif %}
{% if page.is_amp %}
<style amp-custom>
{% else %}
<style>{% endif %}{% include style.css %}</style>
{% unless page.collection %}
{% include layout/json-homepage.html %}
{% endunless %}
{% include js/script-head.js %}
</head>
<body {% if page.is_amp %}[class]="visible ? 'dark' : 'light'"{% else %}class="light"{% endif %} id="top">
{% include layout/header.html %}
{% include layout/nav.html %}
    <div itemscope itemtype='https://schema.org/WPAdblock' class='ads one-column-wrapper adsense-responsive-ad text-center hide-on-print' id="leaderboard-ads">
        <meta content='#leaderboard-ads' itemprop='cssSelector'>
        {% include ads/adsense-display.js %}
    </div>
    <div class="layout hide-on-print">
        <main aria-label="Main Wrapper" class="content-wrapper hide-on-print" id="content-wrapper">
            {{ content }}
        </main>
        {% assign column_layouts = "default,archive,static" | split: "," %}
        {% unless column_layouts contains page.layout %}
        <aside aria-label='Right Sidebar Section' id='right-sidebar' itemscope itemtype='https://www.schema.org/WPSideBar' class="right-sidebar">
            <meta content='#right-sidebar' itemprop='cssSelector'>
            <div class='static-box'>
                <div class="text-center">
                    <div class="sharethis-inline-follow-buttons sharethis"></div>
                    <a target='_blank' href='https://paypal.me/ASIBUKAGroup' rel='nofollow noopener noreferrer' title='Dukung melalui Paypal' class="btn block icon paypal">PayPal</a>
                    <a target='_blank' href='https://www.patreon.com/c/ASIBUKAGroup' rel='nofollow noopener noreferrer' title='Dukung melalui Patreon' class="btn block icon patreon">Patreon</a>
                    <a target='_blank' href='https://saweria.co/asibukagroup' rel='nofollow noopener noreferrer' title='Dukung melalui Saweria' class="btn block icon download">Saweria</a>
                </div>
                {% if page.url contains "/ad-networks" %}
                {% include ads/adsterra/banner.js %}
                {% include ads/hilltopads/banner.js %}
                {% include ads/mondiad/banner.js %}
                {% endif %}
            </div>
            <div class="sticky-box">
                <p class="text-center">Iklan</p>
                <div itemscope itemtype='https://schema.org/WPAdblock' class='ads text-center' id="sidebar-ads">
                    <meta content='#sidebar-ads' itemprop='cssSelector'>
                    {% include ads/adsense-multiplex.js %}
                </div>
            </div>
        </aside>
        {% endunless %}
    </div>
{% if page.is_amp %}
<amp-auto-ads type="adsense" data-ad-client="ca-pub-4951061355072034"></amp-auto-ads>
{% endif %}
{% if page.url contains "/ad-networks" %}
<div id='randomizer'></div>
{% endif %}
<div class='text-center' id='noprint'><div class="main-heading">Mohon Maaf!</div><p>Karena tingginya potensi pencurian konten melalui metode <i>Printing</i>, ASIBUKA memutuskan untuk menonaktifkan fitur print langsung melalui browser. Jika kamu ingin mengcopy materi dari blog ini, silahkan hubungi pengelola blog melalui kontak yang telah disediakan.</p></div>
<a href="#top" class="back-to-top hide-on-print" title='Back to Top' aria-label="Back to Top"><svg viewBox="0 0 24 24" class="arrow-icon" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#004AAD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="18 15 12 9 6 15" /></svg></a>
{% unless page.is_amp %}{% include js/script-body.js %}{% endunless %}
</body>
</html>
