---
layout: default
---
<div {% if page.iframe_function == "true" %}class='hide-on-embed'{% endif %}>{% include layout/breadcrumb.html %}</div>
<article class="hide-on-print">
<h1 id="EmbedTitle">{{ page.title }}</h1>
<div {% if page.iframe_function == "true" %}class='hide-on-embed'{% endif %}></div>
{% if page.iframe_function == "true" %}<div id='EmbedResult'></div>{% endif %}<div {% if page.iframe_function == "true" %}class='hide-on-embed'{% endif %}>{{ content }}</div>
<script type="application/ld+json">{"@context":"https://schema.org","@type":"Article","mainEntityOfPage":{"@type":"WebPage","@id":"{{ page.url }}"},"headline":"{{ page.title }}","description":"{{ page.description }}","image":"{{ page.image }}","author":{"@type":"Organization","name":"ASIBUKA Group","url":"https://www.asibuka.com"},"publisher":{"@type":"Organization","name":"ASIBUKA Group","logo":{"@type":"ImageObject","url":"https://asibuka.com/assets/img/ASIBUKA-Blue.webp"}},"datePublished":"{{ page.date | date_to_xmlschema }}","dateModified":"{{ page.date | date_to_xmlschema }}"}</script>
</article>
{% include layout/share-buttons.html %}
<div {% if page.iframe_function == "true" %}class='hide-on-embed'{% endif %}>
{% include layout/post-navigation.html %}
</div>
{% if page.comments == true %}{% include layout/disqus.html %}{% endif %}